body{
    height: 95vh;
}

main{
    background-color: #C53B3E;
    height: 100%;
}

#pokemonHolder{
    background-color: #6BBDD8;
}

#questions, .list-group, .list-group-item{
    background-color: #FDCA05;
}

.list-group-item{
    border: none;
    padding: 0.25rem 1rem;
}

img{
    cursor: pointer;
}