body {

    border: solid blue 10px;

}

/* #pokemonHolder {

    border: solid green 1px;

} */

/* h2 {

    border: solid black 1px;

} */

 /* figure {


    border: solid pink 1px;
    

} */

/* #figureHolder{

    border: solid brown 1px;

} */

  /* img{

    border: solid purple 3px;
    cursor: pointer;
}

figcaption{

    border: solid yellow 1px;

} */

 #scoreboard{

    border: solid grey 1px;

}

p{

    border: solid purple 1px;

} 

.hint{

    border: solid lightgoldenrodyellow 2px;

}

#questions{

    border: solid lightblue 2px;

}